
<article>
    <div class="titleLine">
        <div class="title"><a href="file:///#PROJECT_LOCATION#" target="_blank">#PROJECT_TITLE#</a></div>
        <div class="descriptionShowHide" onclick="showHideSingleDescription('#PROJECT_TITLE#')">-</div>
    </div>
    <div class="dateAuthor">#PROJECT_DATE#, #PROJECT_AUTHOR#</div>
    <div class="keywords">#PROJECT_TAGS#</div>
    <div class="fileTree">
        #PROJECT_FILE_TREE#
    </div>
    <div class="description">
        #PROJECT_DESCRIPTION#
        #PROJECT_DETAILS#
    </div>
</article>
