
<footer>
    Created in #FOOTER_DATE# by #FOOTER_USER#.
</footer>

<style>
    html, body {
        flex-direction: column;
        font-family: Verdana;
        background-image: linear-gradient(90deg, rgb(150, 150, 150), rgb(255, 255, 255), rgb(255, 255, 255), rgb(255, 255, 255), rgb(150, 150, 150));;
        vertical-align: middle;
        horiz-align: center;
        text-align: center;
        font-family: "Times New Roman";
        font-size: 13pt;
    }

    header {
        background-image: linear-gradient(90deg, rgb(150, 150, 150), rgb(255, 255, 255), rgb(200, 200, 200), rgb(255, 255, 255), rgb(150, 150, 150));
        font-family: Verdana;
        font-weight: bold;
        text-align: center;
        padding-top: 10pt;
        padding-bottom: 10pt;
        margin-top: -10pt;
        margin-bottom: -5px;
    }

    footer {
        margin-top: 50pt;
        padding-top: 10pt;
        padding-bottom: 200pt;
        background-image: linear-gradient(90deg, rgb(150, 150, 150), rgb(255, 255, 255), rgb(200, 200, 200), rgb(255, 255, 255), rgb(150, 150, 150));
        color: rgb(105, 87, 87);
    }

    div.filterLabel {
        text-align: left;
        margin-left: 10%;
        color: rgb(105, 87, 87);
        font-family: Verdana;
        font-size: 10pt;
        margin-top: 1pt;
        margin-bottom: 1pt;
    }

    textarea.filter {
        width: 80%;
        margin-bottom: 10pt;
        color: black;
        font-size: 14pt;
        font-family: Consolas;
        resize: none;
        border-style: solid;
        border-width: 2px;
    }

    article {
        margin-bottom: 15pt;
        margin-left: 9.5%;
        margin-right: 9.5%;
        /*background: rgb(135, 210, 135);*/
        background: rgb(255, 255, 255);
        border: rgb(200, 200, 200);
        border-style: dashed;
        border-width: 2px;
    }

    a:link {
        color: rgb(14, 49, 173);
        background-color: transparent;
        text-decoration: none;
    }

    a:visited {
        color: #031146;
        background-color: transparent;
        text-decoration: none;
    }

    a:hover {
        color: #006fff;
        background-color: transparent;
        text-decoration: underline;
    }

    a:active {
        color: #4ec000;
        background-color: transparent;
        text-decoration: underline;
    }

    div.titleLine {
        text-align: left;
    }

    div.title {
        display: inline-block;
        text-align: left;
        font-weight: bold;
        padding-top: 10pt;
        padding-left: 10pt;
        padding-right: 10pt;
    }

    div.descriptionShowHide {
        display: inline-block;
        text-align: left;
        background: rgb(250, 250, 250);
        background: rgb(230, 230, 230);
        color: rgb(160, 160, 160);
        font-family: "Arial Black";
        font-weight: bold;
        font-size: 12pt;
        padding-top: 0pt;
        padding-left: 10pt;
        padding-right: 10pt;
        padding-bottom: 0pt;
        margin-left: 20pt;
        margin-bottom: -10pt;
        cursor: pointer;
    }

    div.dateAuthor {
        color: rgb(105, 87, 87);
        text-align: left;
        padding-left: 10pt;
        padding-right: 10pt;
        font-size: 10pt;
    }

    div.keywords {
        color: rgb(105, 87, 87);
        text-align: left;
        font-size: 10pt;
        padding-left: 10pt;
        padding-right: 10pt;
    }

    div.fileTree {
        color: rgb(105, 87, 87);
        text-align: left;
        padding-top: 5pt;
        font-size: 10pt;
        padding-left: 10pt;
        padding-right: 10pt;
        display: none;
    }

    div.description {
        text-align: left;
        padding-top: 5pt;
        padding-left: 10pt;
        padding-right: 10pt;
        padding-bottom: 10pt;
    }

    img {
        border-style: solid;
        border-width: 1px;
        border-color: rgb(160, 160, 160);
    }


</style>

<script>
    const SHOW_DESCRIPTION_LABEL = "+";
    const HIDE_DESCRIPTION_LABEL = "-";
    const DEFAULT_HEADER = "Projects";

    function filter() {
        let filter = document.querySelector("textarea.filter");
        var textContent = filter.value;
        var wordsFromFilter = textContent.toLowerCase().split(" ");
        var articles = document.querySelectorAll("article");

        var radioKeywords = document.querySelector("input.keywords");

        var howManyArticlesAreDisplayed = 0;
        if (radioKeywords.checked) {
            for (let i = 0; i < articles.length; i++) {
                var article = articles[i];
                var keywords = article.querySelector("div.keywords");
                let words = keywords.innerText.toLowerCase();

                article.style.display = "inherit";
                howManyArticlesAreDisplayed++;
                for (let j = 0; j < wordsFromFilter.length; j++) {
                    let wordFromFilter = wordsFromFilter[j];
                    if (!words.includes(wordFromFilter.replaceAll("\n", ""))) {
                        article.style.display = "none";
                        howManyArticlesAreDisplayed--;
                        break;
                    }
                }
            }
        } else {
            for (let i = 0; i < articles.length; i++) {
                var article = articles[i];
                var description = article.querySelector("div.description");
                var title = article.querySelector("div.title");
                let words = description.innerText.toLowerCase();
                let wordsInTitle = title.innerText.toLowerCase();
                let wordsCombo = words + " " + wordsInTitle;

                article.style.display = "inherit";
                howManyArticlesAreDisplayed++;
                for (let j = 0; j < wordsFromFilter.length; j++) {
                    let wordFromFilter = wordsFromFilter[j];
                    if (!wordsCombo.includes(wordFromFilter.replaceAll("\n", ""))) {
                        article.style.display = "none";
                        howManyArticlesAreDisplayed--;
                        break;
                    }
                }
            }
        }
        document.querySelector("header").innerText = DEFAULT_HEADER + " (" + howManyArticlesAreDisplayed + ")";
    }

    function radioButtonKeywordsUpdate() {
        var radioKeywords = document.querySelector("input.keywords");
        var radioDescriptions = document.querySelector("input.descriptions");

        if (radioDescriptions.checked) {
            radioKeywords.checked = true;
            radioDescriptions.checked = false;
            filter();
        } else {
            radioKeywords.checked = false;
            radioDescriptions.checked = true;
            filter();
        }
    }

    function radioButtonDescriptionUpdate() {
        var radioKeywords = document.querySelector("input.keywords");
        var radioDescriptions = document.querySelector("input.descriptions");

        if (radioKeywords.checked) {
            radioKeywords.checked = false;
            radioDescriptions.checked = true;
            filter();
        } else {
            radioKeywords.checked = true;
            radioDescriptions.checked = false;
            filter();
        }
    }

    function showHideKeywords() {
        var checkboxShowKeywords = document.querySelector("input.showKeywords");
        var articles = document.querySelectorAll("article");

        if (checkboxShowKeywords.checked) {
            for (let i = 0; i < articles.length; i++) {
                var article = articles[i];
                var keywords = article.querySelector("div.keywords");
                keywords.style.display = "inherit"
            }
        } else {
            for (let i = 0; i < articles.length; i++) {
                var article = articles[i];
                var keywords = article.querySelector("div.keywords");
                keywords.style.display = "none"
            }
        }
    }

    function showHideFileTree() {
        var checkboxShowFileTree = document.querySelector("input.showFileTree");
        var articles = document.querySelectorAll("article");

        if (checkboxShowFileTree.checked) {
            for (let i = 0; i < articles.length; i++) {
                var article = articles[i];
                var fileTree = article.querySelector("div.fileTree");
                fileTree.style.display = "inherit"
            }
        } else {
            for (let i = 0; i < articles.length; i++) {
                var article = articles[i];
                var fileTree = article.querySelector("div.fileTree");
                fileTree.style.display = "none"
            }
        }
    }

    function showHideDate() {
        var checkboxShowDate = document.querySelector("input.showDate");
        var articles = document.querySelectorAll("article");

        if (checkboxShowDate.checked) {
            for (let i = 0; i < articles.length; i++) {
                var article = articles[i];
                var date = article.querySelector("div.dateAuthor");
                date.style.display = "inherit"
            }
        } else {
            for (let i = 0; i < articles.length; i++) {
                var article = articles[i];
                var date = article.querySelector("div.dateAuthor");
                date.style.display = "none"
            }
        }
    }

    function showHideDescription() {
        var checkboxShowDescription = document.querySelector("input.showDescription");
        var articles = document.querySelectorAll("article");

        if (checkboxShowDescription.checked) {
            for (let i = 0; i < articles.length; i++) {
                var article = articles[i];
                var description = article.querySelector("div.description");
                description.style.display = "inherit"

                var showHideDiv = article.querySelector("div.descriptionShowHide");
                showHideDiv.innerText = HIDE_DESCRIPTION_LABEL;
            }
        } else {
            for (let i = 0; i < articles.length; i++) {
                var article = articles[i];
                var description = article.querySelector("div.description");
                description.style.display = "none"

                var showHideDiv = article.querySelector("div.descriptionShowHide");
                showHideDiv.innerText = SHOW_DESCRIPTION_LABEL;
            }
        }
    }

    function showHideSingleDescription(titleName) {
        var articles = document.querySelectorAll("article");

        if (articles.length <= 0) {
            return;
        }

        for (let i = 0; i < articles.length; i++) {
            var article = articles[i];
            var title = article.querySelector("div.title");
            var titleInnerTxt = title.querySelector("a").innerText;
            if (titleInnerTxt === titleName) {
                var showHideDiv = article.querySelector("div.descriptionShowHide");
                var showHideStatus = showHideDiv.innerText;

                if (showHideStatus === HIDE_DESCRIPTION_LABEL) {
                    showHideDiv.innerText = SHOW_DESCRIPTION_LABEL;
                    var description = article.querySelector("div.description");
                    description.style.display = "none";
                } else {
                    showHideDiv.innerText = HIDE_DESCRIPTION_LABEL;
                    var description = article.querySelector("div.description");
                    description.style.display = "inherit";
                }
                return;
            }
        }
    }

</script>

</body>
</html>